@page
@model HuynhNgocTien_SE18B01_A02.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="text-center mb-4">Login</h2>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="LoginData.Email" class="form-control" placeholder="name@example.com" />
                        <label asp-for="LoginData.Email"></label>
                        <span asp-validation-for="LoginData.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="LoginData.Password" class="form-control" placeholder="password" />
                        <label asp-for="LoginData.Password"></label>
                        <span asp-validation-for="LoginData.Password" class="text-danger"></span>
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

